<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="registrarUsuario" (ngSubmit)="registrar()">
            <img src="../../../assets/img/login.png" alt="login" width="50%">
            <h1>Registro</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Repetir Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="repetirPassword">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="registrarUsuario.invalid">Aceptar</button>
            <p class="mt-3"><a routerLink="/login">Volver</a></p>
        </form>
    </div>
</div>