<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="loginUsuario" (ngSubmit)="ingresar()">
            <img src="../../../assets/img/login.png" alt="login" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="loginUsuario.invalid">Ingresar</button>
            <p class="mt-3">¿No tienes una cuenta? <a routerLink="/registrar-usuario">Registrar</a></p>
            <a class="mt-3" routerLink="/recuperar-password">Recuperar Contraseña</a>
        </form>
    </div>
</div>