<div class="container">
    <mat-toolbar>
        <span>{{ (psicologo && psicologo.id) ? 'Editar Psicologo' : 'Crear Psicologo' }}</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="savePsicologo()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>DNI</mat-label>
                        <input matInput formControlName="dni">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="8">
                    <img src="./assets/img/usuario.png" width="40%">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard/psicologos">Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>